.acquia_env_bg.local {
  background-color: #79e9f7;
  color: #000 !important;
}
.acquia_env_bg.int {
  background-color: #f7df79;
  color: #000 !important;
}
.acquia_env_bg.test {
  background-color: #1750e9;
}
.acquia_env_bg.dev {
  background-color: #f90303;
}
.acquia_env_bg.live {
  background-color: #2cb304;
}
